/* h1{
    color: blue;
    background-color: yellow;
}
body{
    background-color: pink;
}
button{
    background-color: aqua;
    color: black;
} */

/* practice */
/* .box{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: yellow;
}  */


/* #box{
    height: 200px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: yellow;
}  */


/* practice 7 lecture */
/* .content{
    color: red;
}

.newClass{
    background-color: green;
} */